<!doctype html>
<html lang="en">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "HTML"
})
<!-- include styles.html -->
@@include('../layouts/styles.html')
</head>
<body>
    <div class="wrapper">
        <!-- include banner.html -->
        <!-- @@include('../partials/banner.html') -->

        <main class="main-container">
            <div class="container_main" id="container_main">
                <div class="ovelay_menu"></div>
                <div class="main_sidenav main_sidenav_block main_sidenav_card main_sidenav_animate_right" id="rightMenu">
                    <div class="main_sidenav_info">
                        <button class="main_sidenav_item main_sidenav_item_button main_sidenav_item_large" id="close_menu"><i class="fas fa-times"></i></button>
                        <div class="main_sidenav_login">
                            <span class="btn_login">
                                카카오로 로그인
                            </span>
                            <div class="info_user">

                            </div>
                        </div>
                    </div>
                    <div class="main_sidenav_content">
                        <ul>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색</a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">위시리스트</a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">예약 내역</a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">문의</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <header class="main_header">
                    <nav class="navbar navbar-expand-lg navbar-light nar_custom" style="background-color: #fff; border-bottom: 1px solid #e5e5e5;">
                        <a class="navbar-brand icon_logo" href="#">
                            <img src="images/icon/icon_logo.png">
                        </a>
                        <div class="navbar-nav m-auto">
                            <span class="title_header">패키지모아</span> 
                        </div>
                        <span class="btn_sidenav">
                            <img src="../../images/icon/bullet_hambuger.png">
                        </span>
                    </nav>
                </header>  
                <section>
                    <div class="content">
                        <div class="wrapper_question">
                            <div class="question_title">
                                다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회
                            </div>
                            <div class="question_content">
                                <div class="question_sub_content">
                                    <span>2019년 7월 22일 (월) 출발 - 하얀풍차투어</span>
                                </div>

                                <textarea class="form-control" rows="3" placeholder="문의사항 입력"></textarea>

                                <input type="text" class="form-control" placeholder="휴대폰 번호">
                            </div>
                            <p>문의사항 등록 시 <span class="tag_question"><a href="">개인정보 수집 및 이용</a></span>에 동의하는 것으로 간주됩니다.</p>
                            <div class="wrapper_btn_question">
                                <button type="button" data-toggle="modal" data-target="#question_schedule" class="btn">
                                    문의
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="question_schedule">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body popup_content">
                                    <img src="../../images/background/bg_nofitication.png">
                                    <p>에 동의하는 것으로 간주됩니다.</p>
                                </div>
                       </div>
                        </div>
                    </div>
        </section>
        <footer class="main_footer">
            @@include('../layouts/footer.html')
        </footer>
    </div>
</main>

<!-- include footer.html -->
</div>

<!-- include scripts.html -->
@@include('../layouts/scripts.html')

</body>
</html>