<!doctype html>
<html lang="en">

<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "HTML"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>

<body>
    <div class="wrapper">
        <!-- include banner.html -->
        <!-- @@include('../partials/banner.html') -->

        <main class="main-container">
            <div class="container_main" id="container_main">
                <div class="ovelay_menu"></div>
                <div class="main_sidenav main_sidenav_block main_sidenav_card main_sidenav_animate_right"
                    id="rightMenu">
                    <div class="main_sidenav_info">
                        <button onclick="" class="main_sidenav_item main_sidenav_item_button main_sidenav_item_large"
                            id="close_menu"><i class="fas fa-times"></i></button>
                        <div class="main_sidenav_login">
                            <span class="btn_login">
                                카카오로 로그인
                            </span>
                            <div class="info_user">

                            </div>
                        </div>
                    </div>
                    <div class="main_sidenav_content">
                        <ul>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @@include('../layouts/header.html')
                <section class="container-fuild">
                    <div class="content">
                        <div class="write-review review-detail">
                            <div class="title-detail">
                                <h4>다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회</h4>
                            </div>
                            <div class="date-review">
                                <p>
                                    2019-07-15
                                </p>
                            </div>
                            <div class="star-writing">
                                    <i class="fas fa-star check"></i>
                                    <i class="fas fa-star check"></i>
                                    <i class="fas fa-star check"></i>
                                    <i class="fas fa-star check"></i>
                                    <i class="far fa-star no-check"></i>
                                    <span class="address-review">
                                            만족
                                    </span>
                            </div>
                            <div class="text-content">
                                <p class="mb-1">
                                    즐거운 여행이 되셨나요? 
                                </p>
                                <p>후기를 남겨주시면 다른 분들의 선택에 많은 도움이 되실 거에요.</p>
                            </div>
                            <div class="write">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="진솔한 후기를 남겨주세요"></textarea>
                            </div>
                            <div class="add-img">
                                <button class="btn btn-add-img">
                                    <i class="fas fa-image"></i>
                                </button>
                            </div>
                            <div class="share-sns">
                                <h4>
                                    이번 여행에 대한 글을 남긴 SNS 경로를 남기시면 많은 분들이 당신을 팔로워 하실 거에요. 
                                </h4>
                                <form action="">
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="URL">
                                </form>
                            </div>
                            <div class="button-write">
                                <button class="btn btn-write">후기등록</button>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="main_footer">
                    @@include('../layouts/footer.html')
                </footer>
            </div>
        </main>

        <!-- include footer.html -->

    </div>

    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')

</body>

</html>