<!doctype html>
<html lang="en">

<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "HTML"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>

<body>
    <div class="wrapper">
        <!-- include banner.html -->
        <!-- @@include('../partials/banner.html') -->

        <main class="main-container">
            <div class="container_main" id="container_main">
                <div class="ovelay_menu"></div>
                <div class="main_sidenav main_sidenav_block main_sidenav_card main_sidenav_animate_right"
                    id="rightMenu">
                    <div class="main_sidenav_info">
                        <button onclick="" class="main_sidenav_item main_sidenav_item_button main_sidenav_item_large"
                            id="close_menu"><i class="fas fa-times"></i></button>
                        <div class="main_sidenav_login">
                            <span class="btn_login">
                                카카오로 로그인
                            </span>
                            <div class="info_user">

                            </div>
                        </div>
                    </div>
                    <div class="main_sidenav_content">
                        <ul>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                            <li>
                                <i class="fas fa-pen mr-2"></i>
                                <a href="">패키지 검색 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @@include('../layouts/header.html')
                <section class="container-fuild">
                    <div class="content">
                        <div class="box-whish-list">
                            <div class="item-whish-list">
                                <div class="check-item">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline1rt">
                                        <label class="custom-control-label text" for="customControlInline1rt">
                                        </label>
                                    </div>
                                </div>
                                <div class="image-box">
                                    <a href="">
                                        <img src="./images/background/box-01.png" alt="">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <div class="title-box">
                                        <a href="">
                                            <h4>
                                                다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="tour-name">
                                        <h6>하나투어 </h6>
                                    </div>
                                    <div class="time-date">
                                        <h6>8.7~11일 3박5일</h6>
                                    </div>
                                    <div class="footer-box">
                                        <div class="price">
                                            <span>200,000 원
                                            </span>
                                        </div>
                                        <div class="logo-tway">
                                            <p>티웨이 항공
                                                <img src="./images/icon/logo-tw.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-whish-list">
                                <div class="check-item">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline1rtx">
                                        <label class="custom-control-label text" for="customControlInline1rtx">
                                        </label>
                                    </div>
                                </div>
                                <div class="image-box">
                                    <a href="">
                                        <img src="./images/background/box-01.png" alt="">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <div class="title-box">
                                        <a href="">
                                            <h4>
                                                다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="tour-name">
                                        <h6>하나투어 </h6>
                                    </div>
                                    <div class="time-date">
                                        <h6>8.7~11일 3박5일</h6>
                                    </div>
                                    <div class="footer-box">
                                        <div class="price">
                                            <span>200,000 원
                                            </span>
                                        </div>
                                        <div class="logo-tway">
                                            <p>티웨이 항공
                                                <img src="./images/icon/logo-tw.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-whish-list">
                                <div class="check-item">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline1rtm">
                                        <label class="custom-control-label text" for="customControlInline1rtm">
                                        </label>
                                    </div>
                                </div>
                                <div class="image-box">
                                    <a href="">
                                        <img src="./images/background/box-01.png" alt="">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <div class="title-box">
                                        <a href="">
                                            <h4>
                                                다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="tour-name">
                                        <h6>하나투어 </h6>
                                    </div>
                                    <div class="time-date">
                                        <h6>8.7~11일 3박5일</h6>
                                    </div>
                                    <div class="footer-box">
                                        <div class="price">
                                            <span>200,000 원
                                            </span>
                                        </div>
                                        <div class="logo-tway">
                                            <p>티웨이 항공
                                                <img src="./images/icon/logo-tw.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-whish-list">
                                <div class="check-item">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline1rtn">
                                        <label class="custom-control-label text" for="customControlInline1rtn">
                                        </label>
                                    </div>
                                </div>
                                <div class="image-box">
                                    <a href="">
                                        <img src="./images/background/box-01.png" alt="">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <div class="title-box">
                                        <a href="">
                                            <h4>
                                                다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="tour-name">
                                        <h6>하나투어 </h6>
                                    </div>
                                    <div class="time-date">
                                        <h6>8.7~11일 3박5일</h6>
                                    </div>
                                    <div class="footer-box">
                                        <div class="price">
                                            <span>200,000 원
                                            </span>
                                        </div>
                                        <div class="logo-tway">
                                            <p>티웨이 항공
                                                <img src="./images/icon/logo-tw.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-whish-list">
                                <div class="check-item">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline1rtg">
                                        <label class="custom-control-label text" for="customControlInline1rtg">
                                        </label>
                                    </div>
                                </div>
                                <div class="image-box">
                                    <a href="">
                                        <img src="./images/background/box-01.png" alt="">
                                    </a>
                                </div>
                                <div class="content-box">
                                    <div class="title-box">
                                        <a href="">
                                            <h4>
                                                다낭 호이안 바나산국립공원 실속팩 5일 + 쇼핑 3회
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="tour-name">
                                        <h6>하나투어 </h6>
                                    </div>
                                    <div class="time-date">
                                        <h6>8.7~11일 3박5일</h6>
                                    </div>
                                    <div class="footer-box">
                                        <div class="price">
                                            <span>200,000 원
                                            </span>
                                        </div>
                                        <div class="logo-tway">
                                            <p>티웨이 항공
                                                <img src="./images/icon/logo-tw.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gr-btn-whish">
                            <button class="btn btn-compare">선택비교</button>
                            <button class="btn btn-delete">선택삭제</button>
                        </div>
                    </div>
                </section>
                <footer class="main_footer">
                    @@include('../layouts/footer.html')
                </footer>
            </div>
        </main>

        <!-- include footer.html -->

    </div>

    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')

</body>

</html>