.asian-template {
    background: #f3f3f3;
    padding: 25px;
    display: block;

    .top {
        display: flex;
        justify-content: space-between;
        
        .left {
            .btn-asia {
                padding: 7px 25px;
                background: #9c2e92;
                color: $color-white;
                font-size: px2em(18);
                font-weight: bold;
                border-radius: 5px;
                @include transition-5;

                &:hover {
                    background: #f9eff8;
                    color: #9c2e92;
                    border: 1px solid #9c2e92;
                }
            }
        }

        .right {
            display: flex;

            .btn-goto {
                margin-left: 15px;
                padding: 7px 25px;
                font-weight: bold;
                color: #9c2e92;
                font-size: 18px;
                border-radius: 5px;
                background: #f9eff8;
                border: 1px solid #9c2e92;
                @include transition-5;

                &:hover {
                    background: #9c2e92;
                    color:  $color-white;
                }
            }
        }
    }

    .form-search {
        margin: 25px 0;
        padding: 10px 0;
        border-radius: 5px;
        background: #ececec;

        .btn-filter {
            background: #fff;
            border-radius: 5px;
            padding: 8.5px 20px;
            display: flex;
            align-items: center;
            color: #9c2e92;
            font-size: 18px;

            &:hover {
                background: #9c2e92;
                color:  $color-white;
            }
        }
        
        .search-fiiter {
            input{
                width: 100%;
                border: 1px solid #e1e1e1;
                height: 46px;
                padding: 0 15px;
            }
        }

        .btn-sort {
            background: #fff;
            border-radius: 5px;
            padding: 8.5px 17px;
            display: flex;
            align-items: center;
            color: #9c2e92;
            font-size: 18px;

            &:hover {
                background: #9c2e92;
                color:  $color-white;
            }
        }
    }

    .card-group {
        display: block;

        .card {
            height: 100%;
            background: #fff;
            border: none;
            box-shadow: 0px 1px 10px 1px #e1e1e1;
            border-radius: 5px;
            @include transition-3;

            &:hover {
                transform: translateY(-5px);
            }

            .img-thumnail {
                height: 268px;
                position: relative;
                
                img {
                    object-fit: cover;
                    height: 100%;
                    border-radius: 5px 5px 0 0;
                }
            }

            .card-content {
                padding: 15px;

                .title {
                    font-size: 24px;
                    font-weight: bold;
                    color: #6b6b6b;
                }

                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: #5e5e5e;
                }
            }

            .card-footer {
                border: none;
                background: none;
                display: flex;
                justify-content: space-between;

                .left {
                    p{
                        font-size: 16px;
                        font-weight: bold;
                        color: #000;
                    }
                }

                .right {
                    p{
                        font-size: 18px;
                        font-weight: bold;
                        color: #9c2e92;
                    }
                }
            }
        }
    }
}