.compare-review {
    padding: 0 50px;
    background: #f3f3f3;
    padding-bottom: 20px;

     @media screen and (max-width: 480px) {
                                padding: 0 15px;
                            }
    .title-compare {
        padding: 25px 0;

        h4{
            color: #000;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }
    }

    .content-compare {
        .box-item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                width: 48%;
                background: #fff;
                border-radius: 10px;

                            @media screen and (max-width: 480px) {
                                 width: 100%;
                                 margin-top: 30px;
                            }
                            .top-item {
                    padding: 25px 30px;
                    border-bottom: 1px solid #e5e5e5;

                    img {
                        width: 100%;
                        border-radius: 10px;
                        @include transition-3;

                        &:hover {
                            background: #454545;
                            opacity: .8;
                        }
                    }

                    .date-time {
                        h4{
                            font-size: 18px;
                            color: #6b6b6b;
                            font-weight: bold;
                            margin-top: 30px;
                            margin-bottom: 0;

                             @media screen and (max-width: 480px) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .text-box {
                    padding: 0 15px;
                    .text-item {
                        text-align: center;

                        .title-text {
                            color: #b579b0;
                            font-size: 18px;
                            font-weight: bold;
                            margin-top: 30px;
                            margin-bottom: 20px;

                            @media screen and (max-width: 480px) {
                                font-size: 16px;
                            }
                        }
                        
                        p {
                            font-size: 18px;
                            color: #777777;
                            font-weight: bold;
                            margin-bottom: .2rem;

                             @media screen and (max-width: 480px) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .gr-button {
                    padding: 0 20px;
                    margin-top: 40px;
                    padding-bottom: 10px;

                    button {
                        width: 100%;
                        margin-bottom: 15px;
                        height: 46px;
                        @include transition-3;
                    }

                    .btn-detail {
                        background: transparent;
                        border: 1px solid #9c2e92;
                        color: #9c2e92;
                        font-weight: bold;
                        font-size: 18px;

                         @media screen and (max-width: 480px) {
                                font-size: 16px;
                            }

                        &:hover, &:focus {
                            background: #9c2e92;
                            color: #fff;
                        }
                    }

                    .btn-before {
                        background: #9c2e92;
                        border: 1px solid #9c2e92;
                        color: #fff;
                        font-weight: bold;
                        font-size: 18px;

                         @media screen and (max-width: 480px) {
                                font-size: 16px;
                            }

                        &:hover, &:focus {
                            background: transparent;
                            color: #9c2e92;
                        }
                    }
                }
            }
        }
    }
}