.wrapper_notification{
	.bg_nofitication{
		text-align: center;
		margin: 0 auto;
		img{
			padding: 100px 0 40px 0;
		}
	}
	.notification_content{
		text-align: center;
		margin: 0 auto;
		.text_content{
			padding: 0 30px;
			margin-top: 90px;
			h4{
				text-align: left;
				font-weight: 600;
				font-size: 18px;
				color:#454545;
				padding-bottom: 10px;
				border-bottom: 1px solid #d5d5d5;
				@media only screen and (max-width: 480px) {
					font-size: 16px;
				}
			}
			textarea{
				margin-bottom: 30px;
				background-color: #f3f3f3;
				&:focus{
					box-shadow: none;
				}
			}
			.wrapper_content{
				text-align: left;
				margin-bottom: 20px;
				display: flex;
				flex-direction: column;
				.title_content{
					color:#454545;
					font-size: 18px;
					font-weight: 600;
					@media only screen and (max-width: 480px) {
						font-size: 16px;
					}
				}
				.sub_content{
					color: #8f8f8f;
					font-weight: 500;
					font-size: 16px;
					@media only screen and (max-width: 480px) {
						font-size: 14px;
					}
				}
			}
		}
		h4{
			font-weight: 600;
			margin-bottom: 30px;
			color: #454545;
			word-break: keep-all;

		}
		p{
			padding: 0 190px;
			color:#555555;
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: 400;
			@media only screen and (max-width: 480px) {
				padding: 0 10px;
				font-size: 16px;
			}
			span{
				a{
					color:#f26122;
				}
			}
		}
		.reservation_history{
			margin-bottom: 30px;
			span{
				background: #9c2e92;
				color: #fff;
				padding: 10px 0;
				font-weight: 600;
				border-radius: 5px;
				cursor: pointer;
				width: 70%;
				margin: 0 auto;
				display: block;
				border: 1px solid #9c2e92;
				@include transition-3;
				&:hover,&:focus{
					background: transparent;
					color: #9c2e92;
					border: 1px solid #9c2e92;
				}
			}
		}
		
	}
}