/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
$background_white: #fff;
$background_purple: #9c2e92;
$color_1: #454545;
$color_2: #9c2e92;
$color_3: #fff;
$color_4: #787878;
$color_5: #ffecfd;
$font_size_1: 20px;
$font_size_2: 15px;
.wrapper_schedule{
	padding: 20px;
	background: #efefef;
	margin-top: 60px;
	.card{
		margin-bottom: 20px;
		border-radius: 15px;
		border:1px solid #ccc;
		box-shadow: 1px 1px 1px 1px #ebebeb;
	}
	.schedule_title{
		border-bottom: 1px solid #d6d6d6;
		text-align:center;
		margin: 0 auto;
		width: 100%;
		padding: 10px 0;
		span{
			color: $color_1;
			font-size: $font_size_1;
			font-weight: 600;
		}
	}
	.schedule_content{
		background: #f8f8f8;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		.schedule_information{
			ul {
				list-style-type: none;
				padding: 0;
				li{
					&:last-child{
						border: none;
						span{
							font-weight: 600;
							padding: 5px;
						}
					}
					padding: 15px 0;
					display: flex;
					border-bottom: 1px solid #d6d6d6;
					.form_row_center{
						margin: 0 auto;
						p{
							margin-bottom: 0;
							color: $color_4;
							font-size: 14px;
						}
					}
					.form_row_left{
						p{
							margin-bottom: 0;
							color: $color_4;
							font-size: 14px;
						}
						label{
							color:$color_2;
							font-weight: 600;
						}
						.sub_title{
							color: $color_4;
							font-size: 14px;
							margin-left: 30px;
							margin-right: auto;
						}	
					}
					.form_row_right{
						margin-left: auto;
						p{
							margin-bottom: 0;
							color: $color_4;
							font-size: 14px;
						}
						.btn_detail{
							border: 1px solid $color_2;
							background: $color_5;
							color: $color_2;
							padding: 5px 20px;
							font-weight: 600;
							border-radius: 5px;
							cursor: pointer;
							@media only screen and (max-width: 320px) {
								padding: 5px 10px;
							}
							&:hover,&:focus{
								background: $color_2;
								color: $color_3;
							}
						}
					}
					.title_header{
						color: $color_1;
						font-size: $font_size_2;
						font-weight: 600;
					}

				}
			}
		}
	}
}
.schedule_price{
	padding: 20px;
	background: $background_white;
	.price{
		font-size: $font_size_1;
		font-weight: 600;
		color: $color_2;
	}
	p {
		font-weight: 600;
		font-size: 12px;
	}
	.schedule_btn_order{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.btn_order{
			border: 1px solid ;
			background: $background_purple;
			color: $color_3;
			padding: 5px 40px;
			border-radius: 5px;
			cursor: pointer;
			font-weight: 600;
			@media only screen and (max-width: 320px) {
				padding: 5px 25px;
			}
			&:hover,&:focus{
				background: $color_5;
				border: 1px solid $color_2 ;
				color: $color_2;
			}
		}
	}
}