<header class="main_header">
    <nav class="navbar navbar-expand-lg navbar-light nar_custom" style="background-color: #fff; border-bottom: 1px solid #e5e5e5;">
        <a class="navbar-brand icon_logo" href="#">
            <img src="images/icon/icon_logo.png">
        </a>
        <div class="navbar-nav m-auto">
            <span class="title_header">패키지모아</span> 
        </div>
        <span class="btn_sidenav" onclick="openRightMenu()">
            <i class="fas fa-align-right"></i>
        </span>
    </nav>
    <div class="logo_banner">
        <img src="images/icon/banner_logo.png">
    </div>
</header>  